.about-service {
  border-radius: 25px;
  position: relative;
  margin-bottom: -45px;
  background-color: $dark-blue;
  z-index: 3;
}

.about-service__wrapper {
  margin: 0 8px 0 20px;
  background-image: url("../img/about-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  background-color: inherit;
  border-radius: 25px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }
}

.about-service__title {
  margin: 0 29px 19px 29px;
  padding-top: 33px;
}

.about-service--companions,
.about-service--congenial {
  color: $white;
  font-size: 16px;
  line-height: 22px;
}

.about-service--companions {
  margin: 0 52px 20px 29px;
  min-height: 109px;
}

.about-service--congenial {
  font-weight: 700;
  min-height: 66px;
  margin: 0 61px 0 29px;
  padding-bottom: 82px;
}

.about-service__br {
  &--travel {
    display: none;
  }
}

.about-service__and {
  margin-left: 5px;
}

.about-service__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .about-service {
    border-radius: 0 0 35px 35px;
    background-color: $page-header-tablet;
    padding-bottom: 89px;
    margin-bottom: -55px;
  }

  .about-service__wrapper {
    margin: 0 8px 0 40px;
    background-image: url("../img/about-tablet.png");
    background-color: transparent;
    border-radius: 25px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-tablet@2x.png");
    }
  }

  .about-service__title {
    margin: 0 34px 40px 34px;
    padding-top: 41px;
  }

  .about-service--companions {
    margin: 0 34px 31px 34px;
    font-size: 28px;
    line-height: 33px;
    width: 302px;
  }

  .about-service--congenial {
    margin: 0 34px 52px 34px;
    padding-bottom: 0;
    font-size: 21px;
    line-height: 25px;
    width: 265px;
  }

  .about-service__br {
    &--fun {
      display: none;
    }

    &--travel {
      display: block;
    }
  }

  .about-service__c {
    margin-left: 8px;
  }

  .about-service__and {
    margin-left: 0;
  }

  .about-service__link {
    display: flex;
    margin: 0 34px;
    width: 276px;
  }
}

@media (min-width: $desktop-width) {
  .about-service {
    padding-bottom: 0;
    background-color: $site-list-black;
    border-radius: 0 0 45px 45px;
    margin-bottom: -40px;
  }

  .about-service__wrapper {
    background-image: url("../img/about-desktop.png");
    background-size: 1320px 680px;
    background-position: top 2px left 0;
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 163px;
    filter: drop-shadow(0 4px 4px $about-service-shadow);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }
  }

  .about-service__title {
    padding-top: 57px;
    margin: 0 0 57px 70px;
  }

  .about-service--companions {
    line-height: 34px;
    margin: 0 0 38px 70px;
    width: 619px;
  }

  .about-service--congenial {
    line-height: 24px;
    margin: 0 0 85px 70px;
    width: 425px;
    min-height: 48px;
  }

  .about-service__br--travel {
    display: none;
  }

  .about-service__and {
    margin-left: 7px;
  }

  .about-service__link {
    width: 274px;
    margin-left: 70px;
  }
}
