.academy {
  border-top: 1px solid $academy-border;
  padding: 19px 0 27px 0;
  position: relative;
}

.academy__link {
  font-size: 16px;
  line-height: 16px;
  color: $special-grey;
  height: 33px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 33px;
    background-image: url("../img/icons/htmlacademy.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 13px;
  }
}

@media (min-width: $tablet-width) {
  .academy {
    padding: 0;
    border: none;

    &--catalog {
      padding-bottom: 5px;
    }
  }

  .academy__link {
    font-size: 20px;
    line-height: 20px;
    margin-right: 52px;

    &::after {
      top: -3px;
    }
  }
}

@media (min-width: $desktop-width) {
  .academy {
    padding-bottom: 5px;
  }

  .academy__link {
    margin-right: 95px;

    &--form,
    &--catalog {
      margin-left: 42px;
      margin-right: 52px;
    }
  }
}
