.address-route {
  background-color: $yellow;
  z-index: 1;
  padding-bottom: 35px;
  border-radius: 0 0 25px 25px;
  position: relative;
  margin-bottom: -138px;
}

.address-route__wrapper {
  margin: 0 25px;
}

.address-route__street {
  margin: 0 66px 32px 61px;
  padding: 56px 0 0 0;
  font-weight: 700;
  color: $light-blue;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  min-height: 44px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url("../img/address-route-mark.svg");
    background-repeat: no-repeat;
    left: -60px;
  }
}

.address-route__button {
  border: 3px solid $site-list-black;
  padding-left: 22px;

  &:hover {
    background-color: $site-list-black;
    border: none;
    color: $white;
    padding-left: 25px;

    &::after {
      width: 13px;
      height: 13px;
      background-image: url("../img/button-arrow-white.svg");
      right: 23px;
      top: 26px;
      background-size: 13px 13px;
    }
  }

  &:active {
    color: $white-30;
  }
}

@media (min-width: $tablet-width) {
  .address-route {
    border-radius: 0 0 35px 35px;
    margin-bottom: -85px;
    padding: 98px 0 84px 0;
  }

  .address-route__wrapper {
    margin: 0 75px;
  }

  .address-route__street {
    padding-top: 0;
    font-size: 28px;
    line-height: 28px;
    margin: 0 94px 62px 94px;

    &::before {
      width: 68px;
      height: 68px;
      background-image: url("../img/address-route-mark.svg");
      background-repeat: no-repeat;
      background-size: 68px 68px;
      left: -92px;
      top: -20px;
    }
  }

  .address-route__button {
    padding-left: 38px;

    &::after {
      top: 32.5px;
    }

    &:hover {
      padding-left: 41px;

      &::after {
        width: 14px;
        height: 14px;
        right: 35px;
        top: 35.5px;
        background-size: 14px 14px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .address-route {
    padding: 100px 0 61px 0;
    border-radius: 0 0 45px 45px;
    margin-bottom: -146px;
  }

  .address-route__wrapper {
    width: 1022px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .address-route__street {
    margin: 0 0 0 123px;
    min-height: 0;

    &::before {
      width: 90px;
      height: 90px;
      background-size: 90px 90px;
      left: -121px;
      top: -30px;
    }
  }

  .address-route__button {
    width: 324px;
  }
}
