.button {
  height: 62px;
  border-radius: 10px;
  background-color: $yellow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $light-blue;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding-left: 23px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  border: none;

  &--form {
    border-radius: 20px;
    height: 40px;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: $light-blue;
    font-family: inherit;
    justify-content: center;
    padding: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    background-image: url("../img/button-arrow.svg");
    position: absolute;
    background-repeat: no-repeat;
    right: 20px;
    top: 25px;
  }

  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: $light-blue-30;

    &::after {
      opacity: 0.3;
    }
  }
}


@media (min-width: $tablet-width) {
  .button {
    height: 80px;
    padding-left: 33px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;

    &::after {
      right: 32px;
      top: 34.5px;
      width: 14px;
      height: 14px;
      background-size: 14px 14px;
    }

    &--form {
      border-radius: 20px;
      height: 80px;
      font-size: 24px;
      line-height: 24px;
      padding-left: 33px;
      justify-content: start;
      text-transform: none;

      &::after {
        display: block;
      }
    }
  }
}
