.directions {
  background-color: $directions-white;
  position: relative;
  padding-bottom: 34px;
  border-radius: 30px;
  margin-bottom: -15px;
  z-index: 3;
}

.directions__wrapper {
  margin: 0 25px;
}

.directions__title {
  margin: 0 45px 20px 25px;
  padding-top: 116px;
}

.directions__text {
  margin: 0 45px 61px 25px;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  min-height: 110px;
}

.directions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directions__item {
  height: 188px;
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 26px;
  }
}

.directions__image {
  width: 100%;
  height: 110px;

  & img {
    width: 100%;
    aspect-ratio: 16/9;
  }
}

.directions__info {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 89px;
  background-color: $white;
  border-radius: 10px;
  margin-top: -15px;
  justify-content: space-between;
  z-index: 3;
}

.directions__flag {
  position: absolute;
  top: -13px;
  left: 25px;
}

.directions__country {
  margin: 24px 0 0 25px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $black;
  width: 65%;
  order: 1;
  box-sizing: border-box;
  height: 21px;
}

.directions__tagline {
  order: 3;
  min-width: 171px;
  margin: 0 0 24px 25px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: $special-grey;
  opacity: 0.3;

  &--czech {
    min-width: 0;
    width: 115px;

    @media (min-width: 340px) {
      width: auto;
      min-width: 115px;
    }
  }
}

.directions__count {
  order: 2;
  box-sizing: border-box;
  margin: 26px 24px 0 0;
  text-align: right;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $dark-blue;
  opacity: 0.3;
  position: relative;
  height: 21px;

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
    left: -18px;
    top: 3px;
  }
}


@media (min-width: $tablet-width) {
  .directions {
    padding: 124px 0 80px 0;
    border-radius: 0 0 60px 60px;
    margin-bottom: 0;
    z-index: 2;
  }

  .directions__wrapper {
    margin: 0 40px;
    background-image: url("../img/directions-background-tablet.png");
    background-position: center 11px;
    background-repeat: no-repeat;
    background-size: 688px 574px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/directions-background-tablet@2x.png");
    }
  }

  .directions__title {
    margin: 0 33px 59px 33px;
    padding-top: 0;
  }

  .directions__text {
    margin: 0 35px 106px 35px;
    width: 351px;
    font-size: 28px;
    line-height: 33px;
  }

  .directions__list {
    margin: 0 36px;
  }

  .directions__item {
    height: 140px;
    display: grid;
    grid-template-columns: 1fr 559px;

    &:last-child {
      margin-bottom: 45px;
    }
  }

  .directions__image {
    order: 1;
    object-fit: cover;
    width: 559px;
    min-height: 140px;

    & img {
      height: 100%;
    }
  }

  .directions__info {
    margin: 0 -373px 0 0;
    min-height: 140px;
    border-radius: 20px 0 0 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .directions__flag {
    width: 70px;
    height: 47px;
    left: auto;
    top: 17px;
    right: -37px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .directions__country {
    font-size: 24px;
    line-height: 24px;
    margin: 28px 29px 8px 29px;
  }

  .directions__tagline,
  .directions__count {
    font-size: 20px;
    line-height: 20px;
  }

  .directions__tagline {
    margin: 0 0 0 29px;

    &--thailand,
    &--france {
      margin-bottom: 20px;
    }

    &--czech {
      width: 133px;
    }
  }

  .directions__count {
    order: 3;
    text-align: left;
    margin: 0 0 0 58px;

    &::before {
      width: 24px;
      height: 24px;
      top: -1px;
      left: -32px;
      background-size: 24px 24px;
    }
  }

  .directions__button {
    height: 82px;
    margin: 0 35px;

    &::after {
      top: 36px;
    }
  }
}

@media (min-width: $desktop-width) {
  .directions {
    border-radius: 0 0 60px 60px;
    padding: 139px 0 0 0;
  }

  .directions__wrapper {
    width: 1320px;
    margin: 0 auto;
    background-image: url("../img/directions-background-desktop.png");
    display: flex;
    flex-wrap: wrap;
    background-position: 0 0;
    padding-bottom: 149px;
    background-size: 1320px 575px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/directions-background-desktop@2x.png");
    }
  }

  .directions__container {
    order: 1;
  }

  .directions__info {
    z-index: 0;
  }

  .directions__title {
    margin: 75px 0 60px 0;
  }

  .directions__text {
    margin: 0;
  }

  .directions__list {
    order: 0;
    margin: 74px 172px 0 70px;
  }

  .directions__item {
    margin-bottom: 10px;

    &:last-child {
      position: relative;
      margin-bottom: 0;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 81px;
        background-image: url("../img/directions-fade.png");
        background-repeat: no-repeat;
        top: 59px;
      }

      @media (min-resolution: 2dppx) {
        background-image: url("../img/directions-fade@2x.png");
      }
    }
  }

  .directions__button {
    order: 3;
    width: 275px;
    height: 80px;
    position: relative;
    margin-bottom: -80px;
    top: -69px;
    left: 768px;
  }

  .directions__flag {
    top: 23px;
    right: -35px;
  }

  .directions__country {
    margin: 22px 30px 7px 30px;
  }

  .directions__tagline {
    margin-left: 31px;
    margin-bottom: 26px;

    &--czech {
      width: auto;
    }
  }

  .directions__count {
    margin-left: 61px;
  }
}
