.entertainment {
  background-color: $white;
  border-radius: 10px;
  padding: 22px 0 11px 0;
}

.entertainment__wrapper {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.entertainment__title {
  margin: 0 0 16px 4px;
}

.entertainment__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  margin: 0 0 23px 5px;
  min-height: 88px;
  width: 195px;

  @media (min-width: 330px) {
    width: auto;
  }
}

.entertainment__list {
  list-style: none;
  margin: 0 6px 18px 4px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.entertainment__item {
  position: relative;
  margin-bottom: 22px;

  &::before {
    content: "";
    width: 17px;
    height: 287px;
    position: absolute;
    background-image: url("../img/entertainment-line-others.png");
    background-repeat: no-repeat;
    background-size: 17px 287px;
    left: -13px;
    top: 7px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/entertainment-line-others@2x.png");
    }
  }

  &:first-child {
    &::before {
      background-image: url("../img/entertainment-line.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/entertainment-line@2x.png");
      }
    }
  }

  &:last-child {
    margin-bottom: 0;

    &::before {
      background-image: none;
    }
  }
}

.entertainment__country {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: $light-blue;
  margin: 0 0 17px 12px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 72px;
    height: 24px;
    background-image: url("../img/route-fade.png");
    background-size: 72px 24px;
    right: 6px;
    top: -2px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/route-fade@2x.png");
    }
  }
}

.entertainment__flag {
  position: absolute;
  right: -1px;
  top: -3px;
}

.entertainment__textarea {
  width: 100%;
  height: 220px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid $profile-form-border;
  resize: none;
  color: $special-grey;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 14px 8px 14px;
  font-family: inherit;

  &::placeholder {
    opacity: 0.3;
  }
}

.entertainment__submit {
  margin-bottom: 11px;
}

.entertainment__button-previous {
  border: none;
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $light-blue;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .entertainment {
    border-radius: 30px;
    padding: 44px 0 53px 0;
  }

  .entertainment__wrapper {
    margin: 0 43px;
  }

  .entertainment__title {
    margin: 0 0 35px 0;
  }

  .entertainment__text {
    font-size: 20px;
    line-height: 24px;
    min-height: 48px;
    margin: 0 0 35px 0;
    width: 505px;
  }

  .entertainment__flag {
    width: 70px;
    height: 47px;
    top: -7px;
    right: 0;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .entertainment__country {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 40px -2px;
  }

  .entertainment__textarea {
    font-size: 20px;
    line-height: 23px;
    padding: 16px 115px 16px 18px;
    height: 142px;

    &::placeholder {
      line-height: 20px;
    }
  }

  .entertainment__list {
    border-top: 1px solid $new-profile-border;
    padding-top: 34px;
    margin: 0 0 43px 0;
  }

  .entertainment__item {
    margin: 0 30px 45px 2px;

    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 274px;
      background-image: url("../../img/entertainment-line-tablet.png");
      background-size: 14px 274px;
      right: -33px;
      top: 11px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/entertainment-line-tablet@2x.png");
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  .entertainment__submit {
    width: 286px;
    margin: 0;
  }

  .entertainment__button-previous {
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0;
    text-transform: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-image: url("../img/arrow-previous.svg");
      background-repeat: no-repeat;
      background-size: 14px 14px;
      left: -35px;
      top: 3px;
    }
  }
}
