.main-menu__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-menu__nav {
  margin-bottom: 51px;

  &--closed {
    display: none;
  }

  &--opened,
  &--nojs {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-menu__wrapper {
    margin: 0 57px;
  }

  .main-menu__nav {
    margin-bottom: 139px;
  }
}

@media (min-width: $desktop-width) {
  .main-menu__wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: 542px 288px;
    column-gap: 145px;
    align-items: center;
  }

  .main-menu__nav {
    display: block;
    margin: 0;
  }

  &--opened,
  &--nojs,
  &--closed {
    display: block;
  }
}
