.main-menu {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-menu__nav {
  margin-bottom: 51px;

  &--closed {
    display: none;
  }

  &--opened,
  &--nojs {
    display: block;
  }
}
