.map {
  width: 100%;
  height: 424px;
}

.map__map {
  width: 100%;
  object-fit: cover;
  border: none;
  background-image: url("../img/background-map-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $map-background;
}


@media (min-width: $tablet-width) {
  .map__map {
    background-image: url("../img/background-map-tablet.png");
  }
}
