.my-plans {
  background-color: $special-light-blue;
  border-radius: 25px 25px 0 0;
  padding: 26px 0 50px 0;
}

.my-plans__wrapper {
  margin: 0 25px;
}

.my-plans__title {
  margin-bottom: 31px;
}

.my-plans__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  counter-reset: myCounter2;
}

.my-plans__item {
  position: relative;
  min-height: 154px;
  margin-bottom: 10px;
  background-color: $white;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    counter-increment: myCounter2;
    content: counter(myCounter2) ".";
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    color: $light-blue;
    left: 23px;
    top: 23px;
    font-weight: 500;
  }
}

.my-plans__destination {
  color: $light-blue;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin: 23px 0 20px 42px;
}

.my-plans__companions,
.my-plans__date {
  font-weight: 500;
  color: $light-blue;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.my-plans__companions {
  margin: 0 0 6px 25px;
}

.my-plans__date {
  margin: 0 0 20px 25px;
}

.my-plans__change {
  border: none;
  background-color: inherit;
  opacity: 0.3;
  color: $black;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-family: inherit;
  margin: 0 0 23px 25px;
  padding: 0;
  cursor: pointer;
  letter-spacing: 0.03em;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .my-plans {
    padding: 54px 0 97px 0;
    border-radius: 30px 30px 0 0;
  }

  .my-plans__wrapper {
    margin: 0 75px;
  }

  .my-plans__title {
    margin-bottom: 51px;
  }

  .my-plans__destination {
    font-size: 24px;
    line-height: 24px;
    margin: 38px 0 35px 40px;
  }

  .my-plans__companions,
  .my-plans__date,
  .my-plans__change {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    letter-spacing: 0.1em;
  }

  .my-plans__date {
    letter-spacing: 0.06em;
    margin-right: 40px;
  }

  .my-plans__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 40px 0 40px;
    border-top: 1px solid $profile-form-border;
  }

  .my-plans__item {
    min-height: 152px;

    &::before {
      font-size: 20px;
      line-height: 20px;
      left: auto;
      right: 33px;
      top: 41px;
    }
  }
}

@media (min-width: $desktop-width) {
  .my-plans {
    padding: 51px 0 114px 0;
    border-radius: 60px 60px 0 0;
  }

  .my-plans__wrapper {
    margin: 0 auto;
    width: 1258px;
  }

  .my-plans__title {
    margin: 0 0 52px 39px;
  }

  .my-plans__list {
    margin: 0 -32px 0 32px;
  }

  .my-plans__destination {
    margin: 35px 0 0 95px;
    width: 533px;
  }

  .my-plans__information {
    border: none;
    width: 587px;
    padding: 0;
    margin: 38px 28px 0 0;
  }

  .my-plans__item {
    min-height: 98px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    &:first-child {
      min-height: 97px;
    }

    &::before {
      right: auto;
      left: 43px;
      top: 37px;
    }
  }

  .my-plans__date {
    margin-right: 96px;
  }

  .my-plans__change {
    letter-spacing: 0.08em;
  }
}
