.new-profile {
  background-color: $new-profile-white;
  background-image: url("../img/rates-mobile.png");
  background-repeat: no-repeat;
  background-position: top 59px right 25px;
  background-size: 100px 100px;
  padding-bottom: 38px;
  border-radius: 0 0 25px 25px;
  z-index: 3;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/rates-mobile@2x.png");
  }
}

.new-profile__wrapper {
  margin: 0 25px;
}

.new-profile__title {
  padding-top: 72px;
  margin: 0 25px 44px 25px;
  width: 107px;
}

.new-profile__list {
  list-style: none;
  margin: 0 20px 29px 0;
  padding: 0;
  counter-reset: myCounter2;
}

.new-profile__item {
  min-width: 200px;
  border-bottom: 1px solid $new-profile-border;
  font-size: 16px;
  line-height: 16px;
  color: $special-grey;
  position: relative;
  margin: 0 25px;

  &:first-child {
    border-top: 1px solid $new-profile-border;
  }

  &::after {
    counter-increment: myCounter2;
    content: counter(myCounter2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: $white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    right: -43px;
    top: 3px;
  }

  &--base {
    &::after {
      background-color: $special-orange;
    }
  }

  &--first-place {
    &::after {
      background-color: $special-yellow-dark;
    }
  }

  &--custom-color {
    &::after {
      background-color: $yellow;
    }
  }
}

.new-profile__offer {
  padding: 12px 0 0 0;
  margin: 0 0 6px 0;
  width: max-content;
}

.new-profile__price {
  padding-bottom: 15px;
  display: block;
}

.new-profile__button {
  margin: 0 25px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: $new-profile-button;
  background-color: inherit;
  text-decoration: none;
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  min-width: 219px;
  font-family: inherit;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .new-profile {
    padding-top: 102px;
    background-image: url("../img/rates-mobile.png"), url("../img/new-profile-background-tablet.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 48px right 85px, right 40px top 179px;
    background-size: 100px 100px, 198px 285px;
    background-color: $directions-white;
    padding-bottom: 66px;
    border-radius: 0 0 35px 35px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rates-mobile@2x.png"), url("../img/new-profile-background-tablet@2x.png");
    }
  }

  .new-profile__wrapper {
    margin: 0 40px;
  }

  .new-profile__title {
    padding-top: 0;
    margin: 0 0 73px 0;
    text-align: center;
    width: auto;
  }

  .new-profile__list {
    margin-bottom: 59px;
  }

  .new-profile__item {
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 0 90px;

    &::after {
      font-size: 28px;
      line-height: 28px;
      width: 68px;
      height: 68px;
      right: auto;
      left: -90px;
      top: 0;
    }

    &:nth-child(2) {
      &::after {
        top: 1px;
      }
    }

    &:nth-child(3) {
      &::after {
        top: 2px;
      }
    }
  }

  .new-profile__offer {
    padding: 20px 0 18px 0;
    margin: 0;
  }

  .new-profile__price {
    padding: 20px 0 18px 0;
  }

  .new-profile__button {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0 0 0 90px;
    position: relative;
    width: 274px;

    &::before {
      position: absolute;
      content: "";
      width: 68px;
      height: 68px;
      background-image: url("../img/new-profile-business-icon-tablet.svg");
      background-repeat: no-repeat;
      top: -25px;
      left: -88px;
    }
  }
}

@media (min-width: $desktop-width) {
  .new-profile {
    padding: 142px 0 169px 0;
    background-image: none;
    border-radius: 0 0 45px 45px;
  }

  .new-profile__title {
    margin-bottom: 134px;
  }

  .new-profile__wrapper {
    width: 1177px;
    margin: 0 auto;
    background-image: url("../img/rates-desktop.png"), url("../img/new-profile-background-desktop.png");
    background-repeat: no-repeat;
    background-position: top 183px right 0, top 131px right 111px;
    background-size: 198px 198px, 446px 300px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rates-mobile@2x.png"), url("../img/new-profile-background-desktop@2x.png");
    }
  }

  .new-profile__list {
    margin: 0 272px 59px 0;
  }

  .new-profile__item {
    margin-right: 0;
  }

  .new-profile__offer,
  .new-profile__price {
    padding: 19px 0;
  }

  .new-profile__button {
    margin-left: 90px;
  }
}
