.new-plan {
  background-color: $new-plan-background;
  border-radius: 30px 30px 0 0;
  margin-top: -20px;
  padding: 28px 0 66px 0;
}

.new-plan__wrapper {
  margin: 0 25px;
}

.new-plan__steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
  align-items: center;
}

.new-plan__list {
  padding: 0;
  margin: 0 18px 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 47px;
}

.new-plan__step {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $light-blue;
  opacity: 0.3;

  &--current {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .new-plan {
    padding: 50px 0 118px 0;
  }

  .new-plan__wrapper {
    margin: 0 75px;
  }

  .new-plan__list {
    width: 76px;
    margin: 2px -2px 0 0;
  }

  .new-plan__step {
    width: 6px;
    height: 6px;
  }

  .new-plan__steps {
    margin-bottom: 59px;
  }
}

@media (min-width: $desktop-width) {
  .new-plan {
    padding: 52px 0 125px 0;
    border-radius: 60px 60px 0 0;
    margin-top: -50px;
  }

  .new-plan__list {
    display: none;
  }

  .new-plan__wrapper {
    width: 1320px;
    margin: 0 auto;
  }

  .new-plan__steps {
    margin: 0 0 57px 68px;
  }
}
