.page-header {
  padding-top: 19px;
  width: 100%;

  &--closed {
    background-color: $dark-blue;
  }

  &--opened,
  &--nojs {
    background-color: $white;
    padding-top: 27px;
    position: absolute;
  }

  &--scrolled {
    background-color: $white;
  }
}

.page-header__wrapper {
  min-width: 270px;
  margin: 0 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--closed {
    margin-bottom: 60px;
  }

  &--opened,
  &--nojs {
    margin-bottom: 76px;
  }

  &--scrolled {
    margin-bottom: 32px;
  }
}

.page-header__logo {
  width: 96px;
  height: 15px;
  background-repeat: no-repeat;

  &--closed {
    background-image: url("../img/logo-closed-mobile.svg");
  }

  &--opened,
  &--nojs,
  &--scrolled {
    width: 100px;
    background-image: url("../img/logo-opened-mobile.svg");
  }
}

.page-header__toggle {
  border: none;
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 11px;
  background-color: inherit;
  outline-offset: 7px;

  &--nojs {
    display: none;
  }
}

.page-header__toggle--closed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: $white;
  border-radius: 1.5px;
  box-shadow: 0 8px 0 0 $white;
}

.page-header__toggle--scrolled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: $grey;
  border-radius: 1.5px;
  box-shadow: 0 8px 0 0 $grey;
}

.page-header__toggle--opened::before,
.page-header__toggle--opened::after,
.page-header__toggle--nojs::before,
.page-header__toggle--nojs::after {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $grey;
  box-shadow: none;
  border-radius: 0;
  top: auto;
}

.page-header__toggle--opened::before,
.page-header__toggle--nojs::before {
  transform: rotate(46deg);
}

.page-header__toggle--opened::after,
.page-header__toggle--nojs::after {
  transform: rotate(-46deg);
}

.page-header__socials {
  margin-bottom: 41px;
}


@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 40px;

    &--closed {
      background-color: $page-header-tablet;
    }

    &--opened,
    &--nojs {
      padding-top: 40px;
      z-index: 2;
      background-color: $white;
    }

    &--scrolled {
      background-color: $white;
    }
  }

  .page-header__wrapper {
    min-width: 688px;
    margin: 0 40px;
  }

  .page-header__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;

    &--closed {
      margin-bottom: 42px;
    }

    &--opened,
    &--nojs {
      margin-bottom: 95px;
    }

    &--scrolled {
      margin-bottom: 42px;
    }
  }

  .page-header__logo {
    width: 166px;
    height: 42px;

    &--closed {
      background-image: url("../img/logo-closed-tablet.svg");
    }

    &--opened,
    &--nojs,
    &--scrolled {
      width: 164px;
      background-image: url("../img/logo-opened-tablet.svg");
    }
  }

  .page-header__toggle {
    justify-self: center;

    &--nojs {
      display: none;
    }
  }

  .page-header__socials {
    margin-bottom: 91px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 46px 0 11px 0;
    background-color: $dark-blue;
    z-index: 5;

    &--scrolled {
      background-color: $white;
      position: relative;
      top: 746px;
      margin-bottom: 19px;
      padding: 21px 0 19px 0;
    }
  }

  .page-header__wrapper {
    width: 1320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 145px;
    align-items: center;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__container {
    margin: 0;
  }

  .page-header__logo {
    width: 200px;
    height: 52px;
    background-image: url("../img/logo-closed-desktop.svg");
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      border-top: 2px solid $white;
      right: -100px;
      top: 26px;
    }

    &--scrolled {
      width: 198px;
      height: 60px;
      background-image: url("../img/logo-opened-desktop.svg");
      background-size: 198px 60px;

      &::after {
        border-top: 2px solid $site-list-black;
        width: 44px;
        right: -101px;
        top: 27px;
      }
    }
  }
}
