.page-footer {
  background-color: $white;
  border-radius: 30px 30px 0 0;
  margin-top: -24px;
  position: relative;
  padding-top: 37px;
}

.page-footer--form {
  margin-top: -23px;
}

.page-footer__wrapper {
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer__socials {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-self: center;
  margin-bottom: 36px;
}


.page-footer__logo {
  width: 100px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("../img/logo-opened-mobile.svg");
  margin-bottom: 40px;
}

.page-footer__logo-link {
  align-self: center;
}

.page-footer__link {
  width: 45px;
  height: 44px;
  background-color: $yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active .page-footer__svg {
    fill: $site-list-black-30;
  }
}

.page-footer__svg {
  align-self: center;
  fill: $site-list-black;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: -55px;
    border-radius: 60px 60px 0 0;
    padding: 46px 0 32px 0;
  }

  .page-footer__wrapper {
    margin: 0 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    margin: 0;
    width: 164px;
    height: 42px;
    background-image: url("../img/logo-opened-tablet.svg");
  }

  .page-footer__link {
    width: 62px;
    height: 62px;
  }

  .page-footer__svg {
    &--facebook {
      width: 14px;
      height: 26px;
    }

    &--vkontakte {
      width: 28px;
      height: 18px;
    }

    &--instagram {
      width: 22px;
      height: 22px;
    }
  }

  .page-footer__socials {
    margin: 0;
  }

  .page-footer--form {
    border-radius: 55px 55px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 47px 0 43px 0;
    margin-top: -42px;
    border-radius: 40px 40px 0 0;
  }

  .page-footer__logo {
    width: 200px;
    height: 55px;
    background-image: url("../img/logo-opened-desktop.svg");
  }

  .page-footer__wrapper {
    width: 1320px;
    margin: 0 auto;
  }
}
