.profile-form {
  padding-top: 20px;
  z-index: 0;
  padding-bottom: 34px;

  &--closed {
    padding-top: 20px;
  }

  &--opened,
  &--nojs {
    padding-top: 167px;
  }
}

.profile-form__wrapper {
  margin: 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile-form__level {
  width: 100px;
  height: 100px;
  background-color: inherit;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: url("../img/form-level.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.profile-form__number {
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  color: $dark-blue;
  margin-bottom: 8px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 51px;
    height: 1px;
    background-color: $special-grey;
    opacity: 0.3;
    bottom: -3px;
    left: -5px;
  }
}

.profile-form__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: $special-grey;
  margin-bottom: 6px;
}

.profile-form__image {
  border-radius: 50%;
}

.profile-form__change-photo {
  width: 100%;
  background-color: $special-light-blue;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: $dark-blue;
  margin: 14px 0 0 0;
  padding-left: 0;
  position: relative;

  &:hover {
    background-color: $profile-form-change-photo-hover;
  }

  &:active {
    background-color: $special-light-blue-30;
    color: $dark-blue-30;
  }

  &::after {
    content: "Сменить фото";
    position: relative;
    display: block;
    background-image: none;
    width: 135px;
    height: 15px;
    right: 0;
    top: -4px;
  }
}

.profile-form__tags {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 7px 0;
}

.profile-form__textarea {
  height: 89px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid $profile-form-border;
  resize: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-grey;
  padding: 24px 28px 27px 24px;
  font-family: inherit;
  outline: none;

  &::placeholder {
    color: $special-grey-60;
  }

  &:hover {
    border-color: $profile-form-tags-hover;
  }

  &:focus {
    border-color: $dark-blue;
  }
}

.profile-form__header {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $light-blue;
  width: 70px;
  text-align: center;
  position: relative;
  top: 10px;
  z-index: 2;
  background-color: $form-page-background;
  margin: 0;
  padding: 0;

  &--transport {
    width: 110px;
  }
}

.profile-form__transport {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form__transport-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 63px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid $profile-form-border;
  border-radius: 10px;
}

.profile-form__transport-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $white;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 16px;
  padding: 0;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 2px 6px $profile-form-transport-button-shadow);
  }

  &:active {
    filter: none;
    background-color: $profile-form-transport-button-active;
    opacity: 0.3;
  }

  &--plane-active {
    background-image: url("../img/icon-plane-active.svg");

    &:hover {
      opacity: 0.7;
    }
  }

  &--plane-inactive {
    background-image: url("../img/icon-plane-inactive.svg");

    &:hover {
      background-image: url("../img/icon-plane-hover.svg");
    }
  }

  &--bus-active {
    background-image: url("../img/icon-bus-active.svg");

    &:hover {
      opacity: 0.7;
    }
  }

  &--bus-inactive {
    background-image: url("../img/icon-bus-inactive.svg");

    &:hover {
      background-image: url("../img/icon-bus-hover.svg");
    }
  }

  &--bicycle-active {
    background-image: url("../img/icon-bicycle-active.svg");

    &:hover {
      opacity: 0.7;
    }
  }

  &--bicycle-inactive {
    background-image: url("../img/icon-bicycle-inactive.svg");

    &:hover {
      background-image: url("../img/icon-bicycle-hover.svg");
      background-size: 17px 16px;
    }
  }

  &--run-active {
    background-image: url("../img/icon-run-active.svg");

    &:hover {
      opacity: 0.7;
    }
  }

  &--run-inactive {
    background-image: url("../img/icon-run-inactive.svg");

    &:hover {
      background-image: url("../img/icon-run-hover.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .profile-form {
    padding-top: 66px;
    padding-bottom: 51px;

    &--closed {
      padding-top: 66px;
    }

    &--opened {
      padding-top: 416px;
    }
  }

  .profile-form__wrapper {
    margin: 0 75px;
    justify-content: space-between;
  }

  .profile-form__level {
    width: 94px;
    height: 94px;
    order: 0;
  }

  .profile-form__picture {
    order: 2;
  }

  .profile-form__image {
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  .profile-form__transport,
  .profile-form__transport-list {
    width: auto;
    min-width: 308px;
  }

  .profile-form__transport {
    margin-top: -20px;
    order: 1;
  }

  .profile-form__transport-list {
    height: 95px;
  }

  .profile-form__change-photo {
    order: 3;
    height: 60px;
    margin: 47px 0 17px 0;
    letter-spacing: 0.09em;
    border-radius: 10px;
    justify-content: center;
    text-transform: uppercase;

    &::after {
      content: "Сменить фото";
      position: relative;
      display: block;
      background-image: none;
      width: 170px;
      height: 18px;
      right: 0;
      top: -1px;
      letter-spacing: 0.09em;
      font-weight: 500;
    }
  }

  .profile-form__tags {
    order: 4;
  }

  .profile-form__textarea {
    height: 95px;
    font-size: 20px;
    line-height: 22px;
    padding: 33px 39px;
  }

  .profile-form__header {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    top: 103px;
    width: 82px;

    &--transport {
      letter-spacing: 0.08em;
      width: 152px;
    }
  }

  .profile-form__transport-button {
    width: 43px;
    height: 43px;
    background-size: 23px 22px;

    &--bicycle-inactive {
      background-size: 23px 22px;

      &:hover {
        background-size: 23px 22px;
      }
    }
  }

  .profile-form__number {
    margin-bottom: 7px;

    &::after {
      bottom: -2px;
    }
  }

  .profile-form__text {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .profile-form {
    padding: 73px 0 103px 0;
    background-color: $form-page-background;
  }

  .profile-form__wrapper {
    width: 1256px;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
  }

  .profile-form__picture {
    width: 190px;
    height: 190px;
    position: absolute;
    top: -263px;
    right: 64px;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 7px 7px 0 0;
    }
  }

  .profile-form__number,
  .profile-form__text {
    color: $white;
  }

  .profile-form__number {
    margin-top: 5px;

    &::after {
      height: 2px;
      width: 49px;
      background-color: $white;
    }
  }

  .profile-form__text {
    margin-top: 1px;
  }

  .profile-form__level {
    position: absolute;
    top: -221px;
    right: 298px;
  }

  .profile-form__change-photo {
    position: absolute;
    top: -120px;
    right: 64px;
    width: 190px;
    height: 47px;
    border-radius: 0 0 10px 10px;

    &::after {
      content: "Фото";
      letter-spacing: 0;
    }
  }

  .profile-form__transport-list {
    width: 384px;
    height: 94px;
    margin-left: -1px;
  }

  .profile-form__transport {
    margin: 0 -31px 0 0;
    height: 105px;
    order: 5;
    position: relative;
  }

  .profile-form__textarea {
    width: 732px;
    height: 94.5px;
    overflow: hidden;
  }

  .profile-form__tags {
    height: 115px;
    width: 732px;
    margin: 0 0 0 31px;
    position: relative;
  }

  .profile-form__header {
    position: absolute;
    letter-spacing: 0.07em;
    left: 21px;
    top: 84px;
    width: 83px;

    &--transport {
      width: 154px;
      top: 83px;
      left: 114px;
    }
  }
}
