.route {
  background-color: $white;
  border-radius: 10px;
  padding: 21px 0 11px 0;
}

.route__wrapper {
  margin: 0 25px;
  display: flex;
  flex-direction: column;
}

.route__title {
  margin-bottom: 16px;
}

.route__nav {
  display: none;
}

.route__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  margin: 0 0 22px 0;
  min-height: 66px;
}

.route__list {
  list-style: none;
  margin: 0 0 25px 0;
  padding: 0;
}

.route__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 42px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 22px;
  z-index: 1;

  &::after {
    content: "";
    width: 10px;
    height: 12px;
    background-image: url("../img/route-item-arrow.svg");
    position: absolute;
    background-repeat: no-repeat;
    bottom: -18px;
    right: 47px;
  }

  &:last-child {
    margin-bottom: 0;
    z-index: 0;

    &::after {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border: 1px solid $profile-form-border;
    border-radius: 50%;
    background-color: $white;
    top: 17px;
    right: 49px;
    pointer-events: none;
  }

  &--chosen {
    grid-template-columns: 1fr 53px;

    &::before {
      border: none;
      background-color: $light-blue;
    }
  }

  &--dropdown-closed {
    &::before {
      display: block;
    }
  }

  &--dropdown-opened {
    z-index: 2;
    grid-template-columns: 1fr;

    &::before {
      display: none;
    }
  }
}

.route__choose-button {
  box-sizing: border-box;
  border: 1px solid $profile-form-border;
  background-color: $white;
  border-radius: 4px;
  color: $light-blue;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: inherit;
  padding: 0 9px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  position: relative;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/arrow-down.svg");
    width: 16px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 16px 12px;
    right: 12px;
    top: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 54px;
    height: 36px;
    background-image: url("../img/route-fade.png");
    background-repeat: no-repeat;
    background-size: 54px 36px;
    right: 0;
    top: 2px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/route-fade@2x.png");
    }
  }

  &--add {
    background-color: $directions-white;
    border: none;
    padding-left: 12px;

    &::before {
      display: none;
    }

    &::after {
      width: 14px;
      height: 14px;
      background-image: url("../img/icon-plus.svg");
      background-size: 14px 14px;
      top: 14px;
      right: 14px;
    }

    &:hover {
      background-color: $add-country-hover-active;
    }

    &:active::after {
      opacity: 0.5;
    }
  }

  &--dropdown-closed {
    box-sizing: border-box;
  }

  &--dropdown-opened {
    padding-left: 17px;
    background-color: $light-blue;
    border: none;
    color: $white;
    min-width: 220px;
    letter-spacing: 0.02em;
    border-radius: 4px 4px 0 0;
    z-index: 4;
    pointer-events: none;

    &::before,
    &::after {
      display: none;
    }
  }

  &:hover,
  &:hover ~ .route__flag {
    border-color: $stay-dates-checkbox-hover;
  }
}

.route__flag {
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: -1px;
  border: 1px solid $profile-form-border;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;

  &--dropdown-closed {
    box-sizing: border-box;
  }

  &--dropdown-opened {
    display: none;
  }
}

.route__picture {
  display: flex;
  justify-content: center;
  align-self: center;
}

.route__remove {
  width: 21px;
  height: 21px;
  position: absolute;
  background-color: $directions-white;
  top: -10px;
  right: -9px;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 9px;
    border-top: 9px solid $black;
    opacity: 0.1;
  }

  &::before {
    transform: rotate(45deg);
    top: 5px;
    right: 13px;
  }

  &::after {
    transform: rotate(-45deg);
    top: 5px;
    left: 13px;
  }

  &--add {
    display: none;
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.3;
  }

  &:active::before,
  &:active::after {
    opacity: 0.05;
  }

  &--dropdown-closed {
    display: block;
  }

  &--dropdown-opened {
    display: none;
  }
}

.route__button-next {
  margin-bottom: 11px;
}

.route__button-previous {
  border: none;
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $light-blue;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.route__dropdown {
  position: absolute;
  width: 219px;
  min-height: 522px;
  background-color: $white;
  z-index: 3;
  top: 42px;
  left: 50%;
  display: flex;
  flex-direction: column;
  margin-left: -109px;
  box-shadow: 0 2px 16px $dropdown-shadow-mobile;

  &--dropdown-closed {
    display: none;
  }

  &--dropdown--opened {
    display: flex;
  }
}

.route__letters,
.route__countries {
  list-style: none;
  padding: 0;
  margin: 0;
}

.route__letters {
  display: grid;
  grid-template-columns: 43px repeat(4, 44px);
  grid-template-rows: repeat(5, 41px);
}

.route__letter {
  border-right: 1px solid $profile-form-border;
  border-bottom: 1px solid $profile-form-border;
  border-left: 1px solid $profile-form-border;
  margin-left: -1px;
  color: $light-blue;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-sizing: border-box;

  &--active {
    border-bottom: none;
    background-color: $directions-white;
  }

  &:hover {
    border-color: $stay-dates-checkbox-hover;
  }

  &:active {
    background-color: $light-blue;
    color: $white;
  }
}

.route__letter-button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  font: inherit;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

.route__close-dropdown {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 43px;
  height: 42px;
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 5;
  display: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 9px;
    border-top: 9px solid $white;
  }

  &::before {
    transform: rotate(45deg);
    top: 15px;
    right: 24px;
  }

  &::after {
    transform: rotate(-45deg);
    top: 15px;
    left: 24px;
  }

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.1;
  }

  &--dropdown-opened {
    display: block;
  }
}

.route__countries {
  border-right: 1px solid $profile-form-border;
  border-bottom: 1px solid $profile-form-border;
  border-left: 1px solid $profile-form-border;
  padding: 20px 20px 14px 18px;
  margin: 0 0 0 -1px;
  border-radius: 0 0 4px 4px;
}

.route__country {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 3.5px;
}

.route__country-button {
  background-color: transparent;
  border: none;
  font: inherit;
  padding: 0;
  cursor: pointer;
  color: $special-grey;

  &:hover {
    color: $light-blue;
  }

  &:active {
    color: $light-blue;
    opacity: 0.3;
  }
}

.route__navigation {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .route {
    border-radius: 30px;
    padding: 45px 0 54px 0;
  }

  .route__wrapper {
    margin: 0 43px;
  }

  .route__title {
    margin-bottom: 35px;
  }

  .route__text {
    font-size: 20px;
    line-height: 24px;
    min-height: 48px;
    width: 443px;
    margin-bottom: 34px;
  }

  .route__list {
    border-top: 1px solid $new-profile-border;
    padding-top: 42px;
    margin-bottom: 49px;
  }

  .route__item {
    grid-template-columns: 1fr 163px;
    grid-template-rows: 70px;
    margin-bottom: 15px;

    &::before {
      width: 14px;
      height: 14px;
      background-size: 14px 14px;
      right: 130px;
      top: 26px;
      z-index: 2;
    }

    &::after {
      width: 1px;
      height: 155px;
      background-image: url("../img/route-line-tablet.png");
      background-size: 1px 155px;
      top: -43px;
      right: 136px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/route-line-tablet@2x.png");
      }
    }

    &:last-child {
      &::before {
        background-color: $form-page-background;
        z-index: 2;
      }

      &::after {
        display: block;
        width: 1px;
        height: 70px;
        background-image: url("../img/route-line-shadow.png");
        background-size: 1px 70px;
        top: 40px;
        right: 136px;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/route-line-shadow@2x.png");
        }
      }
    }

    &--dropdown-opened {
      &::before {
        display: block;
      }
    }
  }

  .route__picture {
    width: 70px;
    height: 47px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .route__flag {
    border: none;
    justify-content: start;
    padding-left: 53px;

    &--dropdown-opened {
      display: flex;
      align-items: center;
    }
  }

  .route__choose-button {
    font-size: 20px;
    line-height: 20px;
    padding-left: 25px;
    letter-spacing: 0.1em;

    &::after {
      width: 20px;
      height: 17px;
      background-size: 20px 17px;
      right: 25px;
      top: 28px;
    }

    &--add {
      &::after {
        width: 21px;
        height: 21px;
        background-size: 21px 21px;
        top: 25px;
        right: 25px;
      }
    }
  }

  .route__button-next {
    width: 286px;
    margin-bottom: 0;
  }

  .route__remove {
    background-color: transparent;
    top: 13px;
    right: -25px;
    width: 66px;
    height: 47px;

    &::after,
    &::before {
      width: 2px;
      height: 26px;
      border-width: 26px;
    }

    &::before {
      right: 41px;
    }

    &::after {
      left: 42px;
    }

    &--dropdown-opened {
      display: block;
    }
  }

  .route__navigation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .route__button-previous {
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0;
    text-transform: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-image: url("../img/arrow-previous.svg");
      background-repeat: no-repeat;
      background-size: 14px 14px;
      left: -35px;
      top: 3px;
    }
  }

  .route__close-dropdown {
    right: 163px;
    left: auto;
    width: 72px;
    height: 70px;
    opacity: 0.3;

    &::before,
    &::after {
      width: 2px;
      height: 21px;
      border-top: 22px solid $white;
    }

    &::before {
      top: 23px;
      right: 42px;
    }

    &::after {
      top: 23px;
      left: 43px;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .route__dropdown {
    width: 575px;
    min-height: 414px;
    left: 109px;
    top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 8px 16px $dropdown-shadow-tablet;

    &--dropdown-closed {
      display: none;
    }
  }

  .route__letters {
    grid-template-columns: 53px repeat(4, 52px);
    grid-template-rows: repeat(5, 69px);
    margin: 35px 80px 0 28px;
    border-top: 1px solid $profile-form-border;
  }

  .route__countries {
    border: none;
    border-left: 1px solid #cbced9;
    padding: 35px 0 0 25px;
  }

  .route__country {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .route__letter {
    font-size: 20px;
    line-height: 20px;

    &--active {
      border: none;
      background-color: $light-blue;
      color: $white;
      min-width: 55px;
      z-index: 2;
      margin-top: -1px;
    }
  }
}

@media (min-width: $desktop-width) {
  .route {
    border-radius: 60px;
    padding: 95px 0 105px 0;
  }

  .route__wrapper {
    width: 1002px;
    margin: 0 159px;
    position: relative;
  }

  .route__title {
    margin-bottom: 36px;

    br {
      display: none;
    }
  }

  .route__route {
    margin-left: 10px;
  }

  .route__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .route__nav {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $black-60;
    position: absolute;
    right: 47px;
    top: 9px;
  }

  .route__nav-item {
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $light-blue;
      opacity: 0.3;
      left: -41px;
      top: 8px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--current {
      color: $black;
      letter-spacing: 0.11em;

      &::before {
        opacity: 1;
      }
    }
  }

  .route__text {
    margin-bottom: 56px;
  }

  .route__list {
    padding-top: 62px;
    margin-bottom: 57px;
    margin-left: 1px;
  }

  .route__item {
    grid-template-columns: 730px 1fr;

    &::before {
      right: 219px;
      pointer-events: visible;
    }

    &::after {
      right: 226px;
      top: -45px;
      height: 156px;
      background-size: 1px 156px;
    }

    &:first-child {
      &::after {
        top: -62px;
      }
    }

    &:last-child {
      &::before {
        top: 25px;
      }

      &::after {
        background-image: url("../img/route-line-tablet.png");
        right: 226px;
        height: 182px;
        background-size: 1px 182px;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/route-line-shadow@2x.png");
        }
      }
    }
  }

  .route__flag {
    padding-left: 86px;
  }

  .route__remove {
    right: -15px;
  }

  .route__button-previous {
    margin: 0 5px 4px 0;
  }

  .route__close-dropdown {
    right: 271px;

    &::after,
    &::before {
      height: 25px;
    }

    &::after {
      top: 20px;
      left: 42px;
    }

    &::before {
      top: 20px;
      right: 45px;
    }
  }

  .route__letters {
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 70px);
    column-gap: 15px;
    row-gap: 14px;
    border: none;
    margin: 35px 103px 37px 27px;
  }

  .route__letter {
    border: 1px solid $profile-form-border;
    border-radius: 4px;
  }

  .route__dropdown {
    width: 730px;
    border-radius: 0 0 4px 4px;
  }

  .route__countries {
    padding-left: 25px;
  }

  .route__choose-button {
    padding-left: 24px;

    &::after {
      width: 22px;
      height: 24px;
      background-size: 22px 24px;
      right: 23px;
      top: 24px;
    }
  }

  .route__button-next {
    margin-left: 1px;
  }
}
