.title {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.title--size-main-index {
  color: $white;
  font-size: 36px;
  line-height: 40px;
}

.title--size-main-others {
  color: $white;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 19px;
  width: min-content;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/title-underline.png");
    background-size: 100% 5px;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -17px;
  }
}

.title--size-additional {
  font-size: 24px;
  line-height: 24px;

  &-form {
    color: $light-blue;
  }
}

.title--size-additional-index {
  color: $special-orange;
}

.title--size-steps {
  font-size: 20px;
  line-height: 20px;
  color: $light-blue;
}

@media (min-width: $tablet-width) {
  .title--size-main-index {
    font-size: 60px;
    line-height: 70px;
  }

  .title--size-additional {
    font-size: 45px;
    line-height: 45px;
  }
}
