.user-list {
  display: flex;
  margin-bottom: 51px;

  &--closed {
    display: flex;
    position: relative;
    top: 405px;
    margin: -40px auto 0 auto;
  }

  &--opened,
  &--nojs {
    position: static;
    flex-direction: column;
    margin: 0 0 51px 0;
  }
}

.user-list__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &--tel {
    background-color: $special-orange;
    background-image: url("../img/icon-call-menu.svg");
    background-size: 18px 18px;

    &:hover {
      background-color: $orange;
    }

    &:active {
      background-image: url("../img/icon-call-menu-active.svg");
    }

    &-closed {
      display: block;
    }

    &-opened,
    &-nojs {
      display: none;
    }
  }

  &--mail {
    background-color: $special-yellow-dark;
    background-image: url("../img/icon-mail-menu.svg");
    background-size: 18px 15.75px;

    &:hover {
      background-color: $special-orange;
    }

    &:active {
      background-image: url("../img/icon-mail-menu-active.svg");
    }

    &-closed {
      display: block;
    }

    &-opened,
    &-nojs {
      display: none;
    }
  }

  &--auth {
    height: auto;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: $dark-blue;
    font-weight: 700;
    width: auto;
    min-width: 190px;
    border-radius: 25px;
    background-color: $yellow;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0 10px 0;

    &:hover {
      background-color: $special-yellow-dark;
    }

    &:active {
      color: $dark-blue-30;
    }

    &-closed {
      line-height: 20px;
    }

    &-opened,
    &-nojs {
      line-height: 30px;
    }
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    margin-bottom: 51px;

    &--closed {
      top: -42px;
      display: flex;
      position: absolute;
      right: -57px;
      margin: -50px auto 0 auto;
    }

    &--opened,
    &--nojs {
      display: flex;
      position: absolute;
      top: -94px;
      right: -57px;
      margin: -50px auto 0 auto;
    }
  }

  .user-list__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;

    &--tel {
      background-color: $special-orange;

      &-opened,
      &-closed,
      &-nojs {
        display: none;
      }
    }

    &--mail {
      background-color: $special-yellow-dark;

      &-opened,
      &-closed,
      &-nojs {
        display: none;
      }
    }

    &--auth {
      height: auto;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: $dark-blue;
      font-weight: 700;
      width: auto;
      min-width: 188px;
      border-radius: 25px;
      background-color: $yellow;
      text-align: center;
      vertical-align: middle;
      padding: 15px 0;

      &:hover {
        background-color: $special-yellow-dark;
      }

      &:active {
        color: $dark-blue-30;
      }

      &-closed {
        line-height: 20px;
      }

      &-opened,
      &-nojs {
        line-height: 20px;
        letter-spacing: 0.03em;
        font-weight: 400;
      }
    }
  }
}


@media (min-width: $desktop-width) {
  .user-list {
    top: 0;
    right: 0;
    margin: 0;
    position: static;
  }

  .user-list__link--tel {
    background-color: $special-orange;

    &-opened,
    &-closed,
    &-nojs {
      display: block;
    }
  }

  .user-list__link--mail {
    background-color: $special-yellow-dark;
    background-size: 16px 14px;

    &-opened,
    &-closed,
    &-nojs {
      display: block;
    }
  }
}
