// Colors

$dark-blue: #161c35;
$dark-blue-30: rgba(22, 28, 53, 0.3);
$light-blue: #1d2e5b;
$light-blue-30: rgba(29, 46, 91, 0.3);
$light-blue-20: rgba(29, 46, 91, 0.2);
$special-light-blue: #dfe3f0;
$special-light-blue-30: rgba(223, 227, 240, 0.3);
$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$grey: #cccccc;
$yellow: #ffd74b;
$yellow-30: rgba(255, 215, 75, 0.3);
$orange: #f26926;
$site-list-black: #192144;
$site-list-black-30: rgba(25, 33, 68, 0.3);
$special-orange: #ff8d30;
$promo-item-orange: #ffa530;
$special-yellow-dark: #ffbd30;
$contacts-dark: #121936;
$directions-white: #edeff6;
$special-grey: #444444;
$special-grey-60: rgba(68, 68, 68, 0.6);
$special-grey-30: rgba(68, 68, 68, 0.3);
$black: #000000;
$black-60: rgba(0, 0, 0, 0.6);
$new-profile-white: #e6e8f1;
$new-profile-border: #e1e3e9;
$new-profile-button: #132576;
$tariffs-border: rgba(0, 0, 0, 0.05);
$tariffs-button: #f3f4f8;
$card-tooltip: #101d41;
$card-shadow: rgba(0, 0, 0, 0.16);
$tariffs-shadow: rgba(29, 46, 91, 0.14);
$registration-error: #ff0000;
$academy-border: #f2f2f2;
$page-header-tablet: #182044;
$map-background: #f7f0d9;
$about-service-shadow: rgba(0, 0, 0, 0.25);
$form-page-background: #edeff6;
$profile-form-border: #cbced9;
$profile-form-tags-hover: #aeb4cb;
$profile-form-change-photo-hover: #d1d7e9;
$profile-form-transport-button-shadow: rgba(22, 28, 53, 0.17);
$profile-form-transport-button-active: #e2e5f1;
$new-plan-background: #d4d9eb;
$date-border: #d6d9e6;
$date-weekend: #ff5c23;
$minus-plus: #cccccc;
$minus-plus-hover: #999999;
$minus-plus-active: #e5e5e5;
$stay-dates-checkbox-hover: #959bb2;
$add-country-hover-active: #dfe3f0;
$dropdown-shadow-mobile: rgba(212, 217, 235, 0.25);
$dropdown-shadow-tablet: rgba(54, 80, 148, 0.18);
$entertainment-error: #ffefef;
$entertainment-error-border: #f47e7e;
$filtering-background: #e2e5f2;
$filtering-dropdown-button: #d6daed;
$filtering-dropdown-button-hover: #c8cee8;
$filter-entartainment-border: #f3c72b;
$filter-submit-shadow: rgba(0, 0, 0, 0.14);
$filter-range-toggle-shadow: rgba(0, 0, 0, 0.24);
$travellers-heart-fill: #f02323;
$travellers-like-button: #e2e5f2;
$travellers-like-button-hover: #e2e5f2;
$travellers-like-button-background-fill: #f9eaea;
$travellers-like-button-background-fill-hover: #f9d8d8;
$travellers-offline: #f97676;
$travellers-online: #bbf085;

// Viewports

$tablet-width: 768px;
$desktop-width: 1380px;
